<nav class="navbar">
    <button pButton class="button-menu" (click)="showSideBar = true">
        <fa-icon icon="bars" class="button-menu__icon"></fa-icon>
    </button>
</nav>

<p-sidebar [(visible)]="showSideBar" position="left" class="side-menu">
    <div >
        <div class="sidebar__header">
            <h3 class="h3">Administrador</h3>
        </div>
            <ul class="sidebar__body">
                <li>
                    <a href="">Lançamentos</a>
                </li>
                <li>
                    <a href="">Pessoas</a>
                </li>
                <li>
                    <a href="">Logout</a>
                </li>
            </ul>
        </div>
</p-sidebar>